<p>Bonjour <%= @developer.first_name %>,</p>
<p>Je suis David, le fondateur de <%= link_to "jsdevs", root_url %>. <%= link_to "Votre profil développeur·euse", notification_url(@notification.record) %> a été signalé car il comporte trop peu d'informations, et ressemble à du spam.</p>
<p>J'ai passé votre profil en mode invisible - vous êtes le·la seul·e à pouvoir le consulter. Vous pourrez le repasser en mode visible après avoir ajouté plus d'informations à votre profil.</p>
<%= render "shared/signature" %>
