<p>Hey, <%= @developer.first_name %>,</p>
<p>Je suis David, le fondateur de jsdevs. Vous avez reçu votre premier message de la part d'un employeur aujourd'hui. Félicitations!</p>
<p>Voici quelques conseils pour tirer le meilleur parti de vos conversations:</p>
<ol>
  <li>Répondez à tous les messages. Si vous n'êtes pas intéressé·e, faites-le savoir à l'employeur.</li>
  <li>N'ayez pas peur de poser vos questions sur le salaire ou le budget dès le début des échanges.</li>
  <li>N'hésitez pas à poursuivre la conversation en visio-conférence, pour mieux faire connaissance.</li>
  <li>Enfin, quand vous signerez votre premier accord, faites-le moi savoir en répondant à ce mail!</li>
</ol>
<p>N'hésitez pas à me contacter si vous rencontrez des problèmes, ou si vous avez besoin d'aide dans l'utilisation de jsdevs.</p>
<%= render "shared/signature" %>
