<p>Bonjour <%= @developer.first_name %>,</p>
<p>Je suis David, the fondateur of <%= link_to "jsdevs", notification_url(@notification.record) %>. Merci d'avoir ajouté votre profil!</p>
<p>Voilà quelques conseils pour augmenter vos chances d'être contacté par un employeur:</p>
<ol>
  <li>Remplissez votre profil autant que possible.</li>
  <li>Utilisez la biographie pour montrer  JavaScript developers.</li>
  <li>C'est le moment de vous vendre, vous avez le droit de vous vanter - un peu!</li>
</ol>
<p>Répondez à cet email si vous souhaitez aider à améliorer votre profil, ou si vous avez le moindre bug en utilisant jsdevs.</p>

<%= render "shared/signature" %>
