<ul>
  <% skills.each do |skill| %>
    <li class="inline-block md:text-sm">
      <div class="block bg-gray-100 px-2 py-1 text-xs md:px-2 md:py-1 rounded-xl text-gray-700 hover:text-black hover:bg-blue-200 mt-2">
        <span class="text-sm font-medium"><%= skill %></span>
      </div>
    </li>
  <% end %>
</ul>
